@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;900&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: rgb(231,228,229);
  background: radial-gradient(circle, rgba(231,228,229,1) 0%, rgba(178,206,240,1) 61%);

  display: flex;
  align-items: center;
  justify-content: center;
 
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: white;
  box-shadow: 0 0 10px 5px #3333331a;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: rgb(248, 248, 248);
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  padding: 0.5rem 1rem;
  text-align: center;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  opacity: 0;
  border: none;
  top: -7px;
  right: -7px;
  font-size: 1.2rem;
}

.fav-meals li .clear img {
  width: 10px;
  height: 10px;
  border: none;
}

.fav-meals li:hover .clear {
  opacity: 1;
  cursor: pointer;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 5px #3333331a;
  object-fit: cover;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.fav-meals li span {
  display: inline-block;
  font-size: .9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75px;
}



/* Meal */

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 5px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
 position: absolute;
 top: 10px;
 background-color: white;
 padding: 0.25rem 1rem;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1.5rem;
}

.meal-body .fav-btn.active {
  background-color: #f31d1d;

}

